/***** General for the entire page *****/

#main_content h3 {
	margin: 25px 0px 10px 0px;
}


/***** Commits by language *****/

#commits_by_language {
	font-size: 9pt;
	font-family: Consolas, courier;
	color: #686765;
}
#commits_by_language .name {
	float:right;
	color:#27aae1;
}
#commits_by_language .axis {
	fill: none;
	stroke: #373737;
  shape-rendering: crispEdges;
}
#commits_by_language text {
	stroke: none;
	fill: #373737;
}
#commits_by_language .label {
	fill: #373737;
}
#commits_by_language .dot {
	opacity: .7;
}
#commits_by_language .dot:hover {
	opacity: 1;
}


/***** Commits by month *****/

#commits_by_month .bar {
  fill: #1e6823;
}

#commits_by_month .bar:hover {
  fill: #8cc665;
}

#commits_by_month .axis {
	font-size: 9pt;
	font-family: Consolas, courier;
}

#commits_by_month .axis path,
#commits_by_month .axis line {
  fill: none;
  stroke: #373737;
  shape-rendering: crispEdges;
}


/***** Commits by day *****/

#commits_by_day {
	font-size: 9pt;
	font-family: Consolas, courier;
	shape-rendering: crispEdges;
}
#commits_by_day .day {
	fill: #fff;
	stroke: #ccc;
}
#commits_by_day .month {
	fill: none;
	stroke: #000;
	stroke-width: 2px;
}
#commits_by_day .RdYlGn .q0-11{ fill: #d6e685; }
#commits_by_day .RdYlGn .q1-11{ fill: #8cc665; }
#commits_by_day .RdYlGn .q2-11{ fill: #44a340; }
#commits_by_day .RdYlGn .q3-11{ fill: #1e6823; }


/***** Commits by weekday hour *****/

#commits_by_weekday_hour rect.bordered {
	stroke: #E6E6E6;
	stroke-width:2px;
}
#commits_by_weekday_hour text.mono {
	font-size: 9pt;
	font-family: Consolas, courier;
	fill: #aaa;
}
#commits_by_weekday_hour text.axis-workweek {
	fill: #000;
}
#commits_by_weekday_hour text.axis-worktime {
	fill: #000;
}
#commits_by_weekday_hour .legend text.mono {
	fill: #000;
}
