<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<meta http-equiv="X-UA-Compatible" content="chrome=1" />
		<meta name="description" content="A dashboard for Guillaume Aubert's open source projects" />
		<link rel="stylesheet" type="text/css" media="screen" href="/css/stylesheet.css?v={{ site.github.build_revision }}">
		{% if page.css_includes %}
			{% for css_include in page.css_includes %}
				<link rel="stylesheet" type="text/css" media="screen" href="{{ css_include }}">
			{% endfor %}
		{% endif %}
		<title>Guillaume Aubert - {{ page.title }}</title>
	</head>

	<body>
		<!-- HEADER -->
		<div id="header_wrap" class="outer">
			<header class="inner">
				<div id="banner">
					Find me on:
					<a href="https://github.com/guillaumeaubert/">GitHub</a>,
					<a href="https://www.linkedin.com/in/aubertguillaume">LinkedIn</a>,
					<a href="mailto:aubertg@cpan.org">Email</a>
				</div>

				<h1 id="project_title">Guillaume Aubert</h1>
				<section id="menu">
					<a {% if page.url == '/' or page.url == '/index.html' %}class="active"{% endif %} href="/index.html">
						<span class="bullet">&#9700;</span>
						Projects Dashboard
					</a>
					<a {% if page.url == '/git_contributions_statistics.html' %}class="active"{% endif %} href="/git_contributions_statistics.html">
						<span class="bullet">&#9700;</span>
						Git Contribution Statistics
					</a>
					<a {% if page.url == '/archive.html' %}class="active"{% endif %} href="/archive.html">
						<span class="bullet">&#9700;</span>
						Archive
					</a>
				</section>
			</header>
		</div>

		<!-- MAIN CONTENT -->
		<div id="main_content_wrap" class="outer">
			<section id="main_content" class="inner">
				<h1>{{ page.title }}</h1>
				{{ content }}
			</section>
		</div>

		<!-- Load JS files -->
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		{% if page.js_includes %}
			{% for js_include in page.js_includes %}
				<script type="text/javascript" src="{{ js_include }}"></script>
			{% endfor %}
		{% endif %}

		<!-- Google Analytics -->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-2001838-13']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>
